// $PRIMARY: "Rubik", sans-serif;
$PRIMARY: 'Montserrat', sans-serif;
$SECONDARY: "Nunito", sans-serif;

$PRIMARY_COLOR: #fff;
$BACKGROUND_COLOR: #f5f7fb;
$SECONDARY_COLOR: #565bba;
$SNAP_FIX_COLOR : #1081FB;
$DELETE_COLOR: #ff6b6b;
$TRANSPARENT: transparent;
$LIGHT_TEXT: #fff;
$GRAY_COLOR:#dddddd;
$BORDER_COLOR: #c3c3d2;
$DARK_BORDER_COLOR: #b491911a;
$DARK_COLOR: #44464a;
$primary: #193f5c;
$secondary: #193f5c;
$white: #fff;
$gray: #9b9b9b;

$PRIMARY_LIGHT: 300;
$PRIMARY_REGULAR: 400;
$PRIMARY_MEDIUM: 500;
$PRIMARY_BOLD: 700;

$SECONDARY_EXTRA_LIGHT: 200;
$SECONDARY_LIGHT: 300;
$SECONDARY_REGULAR: 400;
$SECONDARY_SEMI_BOLD: 600;
$SECONDARY_BOLD: 700;
$SECONDARY_EXTRA_BOLD: 800;

$TRANSITION_SPEED: all 0.3s;

$FOR_FORT_14: 14px;
